footer {

	display: flex;
	flex-flow: column nowrap;
	width: 100%;

	.whitespace, .main-foot {
		width: 100%;
	}

	.whitespace {
		height: 250px;
		background-color: #fff;
	}

	.main-foot {

		height: auto;
		min-height: 150px;
		background-color: $text_blue;
		padding: 30px 70px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;

		.ctas {

			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;

			.logo {
				width: 160px;
				height: auto;
			}

			.buttons {

				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;

				.button {
					height: 40px;
					border-radius: 25px;
					width: 250px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: 600;
					transition: 200ms all;

					&:first-child {
						margin-right: 20px;
					}

					&:hover {
						background-color: transparent;
					}

				}

				.green {
					background-color: rgb(37,214,168);
					color: #fff;

					&:hover {
						border: 1px solid rgb(37,214,168);
					}

				}

				.white {
					background-color: #fff;
					color: rgb(26,52,57);

					&:hover {
						border: 1px solid #fff;
						color: #fff;
					}

				}

			}

			.socials {

				display: flex;

				.button.social {
					height: 40px;
					width: 40px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 40px;

					&.fb {
						background-image: url(/assets/fb.png);
					}

					&.insta {
						background-image: url(/assets/insta.png);
					}

					&.twitter {
						background-image: url(/assets/twitter.png);
					}

					&:not(:last-child) {
						margin-right: 20px;
					}

				}

			}

		}

		p {
			font-size: 18px;
			line-height: 30px;
			color: rgb(82, 116, 122);
			text-align: center;
		}

	}

}

@media all and (max-width: 1110px) {

	footer {

		.main-foot {

			.ctas {

				.buttons {

					.button {

						width: 200px;

					}

				}

			}

		}

	}

}

@media all and (max-width: 900px) {

	footer {

		.main-foot {

			.ctas {

				flex-flow: column nowrap;
				align-items: center;

				.logo, .buttons, .socials {

					margin-bottom: 20px;

				}

			}

		}

	}

}

@media all and (max-width: 450px) {

	footer {

		.main-foot {

			.ctas {

				flex-flow: column nowrap;
				align-items: center;

				.buttons {

					flex-flow: column nowrap;
					align-items: center;

					.button {

						&:first-child {
							margin-right: 0px;
							margin-bottom: 20px;
						}

					}

				}

			}

		}

	}

}
