section {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;

	&.white {
		background-color: #fff;
	}

	&:first-child {

		margin-top: 100px;

		.pictures, .signup {
			display: flex;
			width: 50%;
		}

		.pictures {
			padding: 40px;
			background-image: linear-gradient(#fff, rgb(9, 213, 175))
		}

		.signup {
			padding: 80px;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-start;

			form {
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
			}

			h1, p {
				max-width: 450px;
				width: 95%;
			}

			h1 {
				margin-bottom: 20px;
				line-height: 45px;
				font-size: 35px;
			}

			p {
				font-size: 14px;
				line-height: 25px;
				margin-bottom: 20px;
			}

			label {
				margin-bottom: 40px;
			}

		}

	}

}

@media all and (max-width: 767px) {

	section {
		flex-flow: column nowrap;

		&:first-child {

			.pictures, .signup {
				width: 100%;
				padding: 40px;
			}

			.signup {
				align-items: center;

				h1, p {
					max-width: 95%;
				}

				form {
					align-items: center;
				}

			}

		}

	}

}
